@model PizzaBox.Client.Models.LocationViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Pizza</title>
</head>

<body>
  <form  action="/menu/Location" method="post">
    <div class="jumbotron text-center" style="background: url('@Url.Content("~/Images/Pizza.jpeg")') no-repeat;background-size: 100%;">
      <h1 class="display-4" style="color:white; font-weight: 400;">Choose Location</h1>
    </div>
    @{
      int i=0;
      foreach (var item in @Model.Stores)
      {
        <p>
          @if(i==0)
          {
            <input class="form-check-input" type="radio" name="Radio" Value=@item.StoreId checked>
          }
          else
          {
            <input class="form-check-input" type="radio" name="Radio" Value=@item.StoreId>
          } 
          <label class="form-check-label">@item.Location</label>
        </p>
        i++;
      }
      }
      <p class="text-danger">@ViewData["LocationError"]</p>
    <button type="submit" class="btn btn-primary">Select Location</button>
  </form>
</body>

</html>
