
@model PizzaBox.Client.Models.OrderViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Pizza</title>
</head>

<body class="container-md">
    <div class= "row mt-5">
       <form class="col-md-4 offset-md-4" action="/Pizza/Add" method="post">
          <div class="jumbotron text-center">
          <h1 class="display-4">Add Pizza</h1>
        </div>
        @{
          @foreach (var item in @Model.PizzaList)
          {
            <form class="col-md-4 offset-md-4" action="/Pizza/Add" method="post">
              <div class="form-group">
                  <p>
                    <span id="Name">@item.Name</span>
                    <span>$@item.Price</span>
                    <input class="form-control" type="number" name="Quantity" id="Quantity" min="0" max="50">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                    
                  </p> 
              </div>
            </form>
          }
        }
        
          <div>
            <button type="submit" class="btn btn-primary">Check Out</button>
            @ViewData["piz"]
          </div>
        </form>   
    </div>
    

</body>

</html>
